{{ $icon152 := resources.Get "build/icon_152x152.png" }}
<link rel="apple-touch-icon" sizes="152x152" href="{{ $icon152.RelPermalink }}">
{{ $icon167 := resources.Get "build/icon_167x167.png" }}
<link rel="apple-touch-icon" sizes="167x167" href="{{ $icon167.RelPermalink }}">
{{ $icon180 := resources.Get "build/icon_180x180.png" }}
<link rel="apple-touch-icon" sizes="180x180" href="{{ $icon180.RelPermalink }}">
{{ $icon192 := resources.Get "build/icon_192x192.png" }}
<link rel="apple-touch-icon" sizes="192x192" href="{{ $icon192.RelPermalink }}">
<meta name="apple-mobile-web-app-title" content="{{ $.Site.Title }}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#ffffff">
