<link rel="apple-touch-icon" sizes="152x152" href="/icon/icon_152x152.png">
<link rel="apple-touch-icon" sizes="167x167" href="/icon/icon_167x167.png">
<link rel="apple-touch-icon" sizes="180x180" href="/icon/icon_180x180.png">
<link rel="apple-touch-icon" sizes="192x192" href="/icon/icon_192x192.png">
<meta name="apple-mobile-web-app-title" content="{{ $.Site.Title }}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#ffffff">
