{{ range resources.Match "build/icon_*png" }}{{ .Publish }}{{ end }}

{{ $manifest := resources.Get "build/manifest.json" }}
{{ $secureManifest := $manifest | resources.Fingerprint "sha512" }}
<link rel="manifest" href="{{ $manifest.RelPermalink }}?{{ $secureManifest.Data.Integrity }}" />

{{ $style := resources.Get "build/app.css" }}
{{ $secureStyle := $style | resources.Fingerprint "sha512" }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}?{{ $secureStyle.Data.Integrity }}">

{{ $script := resources.Get "build/app.js" }}
{{ $secureScript := $script | resources.Fingerprint "sha512" }}
<script src="{{ $script.RelPermalink }}?{{ $secureScript.Data.Integrity }}"></script>
