<footer class="bg-white border-t border-gray-400 shadow">
    <div class="container max-w-4xl mx-auto flex py-8">

        <div class="w-full mx-auto flex flex-wrap">
            <div class="flex w-full md:w-1/2 ">
                <div class="px-8">
                    <h3 class="font-bold text-gray-900">Cosa Faccio</h3>
                    <p class="py-4 text-gray-600 text-sm">
                        Scrivo sulle cose che mi passano per la testa. Spesso sono cose che ho letto, altre volte sono
                        cose che ho sentito, quasi mai sono cose che ho pensato per primo.
                    </p>
                </div>
            </div>

            <div class="flex w-full md:w-1/2">
                <div class="px-8">
                    <h3 class="font-bold text-gray-900">Ti piace l'articolo?</h3>
                    <p class="py-4 text-gray-600 text-sm">
                        Iscriviti al <a class="text-green-500 no-underline hover:underline" href="/index.xml">Feed
                        RSS</a> per ricevere gli aggiornamenti.
                    </p>
                </div>
            </div>
        </div>

    </div>
</footer>
