<nav class="fixed w-full z-10 top-0">
    <div js-progress-bar class="h-1 z-20 top-0" style="background:linear-gradient(to right, #4dc0b5 var(--scroll), transparent 0);"></div>

    <div class="w-full md:max-w-4xl mx-auto flex flex-wrap items-center justify-center mt-0 py-3">
        <a href="https://www.google.com/search?q=site%3Awww.sullecose.it" target="_blank" class="text-gray-900 text-base no-underline hover:no-underline font-extrabold text-xl">
            Sulle Cose
        </a>
    </div>
</nav>
