<!DOCTYPE html>
<html lang="{{ $.Page.Language.Lang }}">
    <head>
        <meta charset="utf-8">
        <title>404 Pagina non trovata</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐙</text></svg>">

        {{ partial "apple.html" . }}
        {{ partial "assets.html" . }}
    </head>
    <body class="bg-gray-100 font-sans leading-normal tracking-normal">
        {{ partial "nav.html" . }}

        <main class="container w-full md:max-w-3xl mx-auto py-12">
            <div class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal" style="font-family:Georgia,serif;">

                <header class="font-sans py-5">
                    <h1 class="font-bold font-sans break-normal text-gray-900 pb-3 text-3xl md:text-4xl">Oops! Qualcosa è andato storto</h1>
                </header>

                <p class="py-6">
                    La pagina che stavi cercando non esiste. Di seguito trovi gli ultimi 5 post del mio blog:
                </p>

                <ul class="list-disc list-inside">
                    {{ range first 5 .Site.Pages }}
                        <li class="py-3">
                            <a href="{{ .Permalink }}" class="font-bold text-gray-900 hover:underline">{{ .Title }}</a>
                            <p>{{ .Description }}</p>
                        </li>
                    {{ end }}
                </ul>

            </div>
        </main>

        {{ partial "footer.html" . }}
    </body>
</html>
